Data Latih/File Gambar Data Latih/
Data Latih/Data Latih BDC.xlsx
Data Latih/Data Clean BDC.csv

Data Uji/File Gambar Data Uji/
Data Uji/*/File Gambar Data Uji
Data Uji/Data Uji BDC.xlsx

training_model

.vscode
